.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
  }

  .mr-auto {
    color: white;
  }
  
  .navbar-collapse {
    flex-grow: 1;
  }
  
  .navbar-nav:last-child {
    margin-left: auto;
  }
  
  .navbar-brand img {
    height: 70px;
  }

  .auth-button {
    margin: 0 20px;
    border: 3px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
  }
  