footer {
    background-color: grey;
    color: black;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    margin: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-left: 30px;
  }

  
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 0.9em;
  }
  
  .footer-bottom {
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 0.8em;
  }
  